*{
    text-transform: capitalize;
    text-align:center;
    padding: 0;

}
h1{
    background-color: #081b31;
    color:white;
    height:5rem;
     line-height:5rem;
} 
.choice{
    height:200pxpx;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /* opacity:0.5; */
    cursor: pointer;
    background-color: bisque;
}
img{
    height:150px;
    width: 150px;
    /* object-fit:cover; */
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:2rem;
    margin-top: 3rem;
    gap:5rem;
}
#user,#comp{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
    color:white;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 10px;
}